<div class="dark-bg half-carousel-container">
    <div class="city-carousel-wrap">
        <div class="half-carousel-title-wrap">
            <div class="half-carousel-title">
                <h2>Explore Best Cities</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="listing.html" class="commentssubmit" style="margin-top: 20px">View All Cities<i class="fa-solid fa-caret-right"></i></a>
            </div>
            <div class="abs_bg"></div> </div>
        <div class="city-carousel">
            <div class="swiper-container"> <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="city-carousel-item">
                        <div class="bg-wrap fs-wrapper">
                            <div class="bg"  data-bg="assets/images/bg/long/1.jpg" data-swiper-parallax="10%"></div>
                            <div class="overlay"></div>
                        </div>
                        <div class="city-carousel-content">
                            <div class="hc-counter">26 Properties</div>
                            <h3><a href="listing.html">Explore NewYork</a></h3>
                            <p>Constant care and attention to the patients makes good record</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="city-carousel-item">
                        <div class="bg-wrap fs-wrapper">
                            <div class="bg"  data-bg="assets/images/bg/long/1.jpg" data-swiper-parallax="10%"></div>
                            <div class="overlay"></div>
                        </div>
                        <div class="city-carousel-content">
                            <div class="hc-counter">15 Properties</div>
                            <h3><a href="listing.html">Awesome Rome</a></h3>
                            <p>Constant care and attention to the patients makes good record</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="city-carousel-item">
                        <div class="bg-wrap fs-wrapper">
                            <div class="bg"  data-bg="assets/images/bg/long/1.jpg" data-swiper-parallax="10%"></div>
                            <div class="overlay"></div>
                        </div>
                        <div class="city-carousel-content">
                            <div class="hc-counter">78 Properties</div>
                            <h3><a href="listing.html">Elite Houses in Dubai</a></h3>
                            <p>Constant care and attention to the patients makes good record</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="city-carousel-item">
                        <div class="bg-wrap fs-wrapper">
                            <div class="bg"  data-bg="assets/images/bg/long/1.jpg" data-swiper-parallax="10%"></div>
                            <div class="overlay"></div>
                        </div>
                        <div class="city-carousel-content">
                            <div class="hc-counter">32 Properties</div>
                            <h3><a href="listing.html">Find Dream in Paris</a></h3>
                            <p>Constant care and attention to the patients makes good record</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="sc-controls city-pag-init"></div> </div>
    </div>
    <div class="city-carousel_controls"> <div class="csc-button csc-button-prev"><i class="fas fa-caret-left"></i></div>
        <div class="csc-button csc-button-next"><i class="fas fa-caret-right"></i></div>
    </div>
</div>
