<div class="parallax-section-wrap"> <div class="bg-wrap fs-wrapper" data-scrollax-parent="true">
    <div class="bg" data-bg="assets/images/bg/1.jpg" data-scrollax="properties: { translateY: '20%' }"></div>
    <div class="overlay"></div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="parallax-section-content">
                    <h3>How Our Platform Works</h3>
                    <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p>
                    <a href="add-listing.html" class="commentssubmit csb_color " style="margin-top: 20px">Add Your Propperty</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="process-wrap">
                    <ul>
                        <li>
                            <div class="process-item">
                                <span class="process-count">01 . </span>
                                <div class="process-item-icon"><i class="fa-light fa-house-building"></i></div>
                                <h4> Find Interesting Place</h4>
                                <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
                            </div>
                            <span class="pr-dec"></span>
                        </li>
                        <li>
                            <div class="process-item">
                                <span class="process-count">02 .</span>
                                <div class="process-item-icon"><i class="fa-light fa-mailbox"></i></div>
                                <h4> Contact a Few Owners</h4>
                                <p>Faucibus ante, in porttitor tellus blandit et. Phasellus tincidunt metus lectus sollicitudin feugiat pharetra consectetur.</p>
                            </div>
                            <span class="pr-dec"></span>
                        </li>
                        <li>
                            <div class="process-item">
                                <span class="process-count">03 .</span>
                                <div class="process-item-icon"><i class="fa-light fa-layer-plus"></i></div>
                                <h4> Make a Listing</h4>
                                <p>Maecenas pulvinar, risus in facilisis dignissim, quam nisi hendrerit nulla, id vestibulum metus nullam viverra porta.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
