<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

    <div *ngIf="successMessage" class="alert alert-success p-2 mb-3">
        {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger p-2 mb-3">
        {{ errorMessage }}
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <app-feather-icons [icon]="'user'"></app-feather-icons>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Enter your name" formControlName="name"
                   [class.is-invalid]="f['name'].invalid && f['name'].touched">
        </div>
        <div *ngIf="f['name'].invalid && f['name'].touched" class="text-danger mt-1">
            <small *ngIf="f['name'].errors?.['required']">Name is required.</small>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <app-feather-icons [icon]="'phone'"></app-feather-icons>
                </div>
            </div>
            <input type="tel" class="form-control" placeholder="Phone number (Optional)" formControlName="phone"
                   [class.is-invalid]="f['phone'].invalid && f['phone'].touched">
        </div>
        <div *ngIf="f['phone'].invalid && f['phone'].touched" class="text-danger mt-1">
            <small *ngIf="f['phone'].errors?.['pattern']">Please enter a valid phone number.</small>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <app-feather-icons [icon]="'mail'"></app-feather-icons>
                </div>
            </div>
            <input type="email" class="form-control" placeholder="Enter email address" formControlName="email"
                   [class.is-invalid]="f['email'].invalid && f['email'].touched">
        </div>
        <div *ngIf="f['email'].invalid && f['email'].touched" class="text-danger mt-1">
            <small *ngIf="f['email'].errors?.['required']">Email is required.</small>
            <small *ngIf="f['email'].errors?.['email']">Please enter a valid email address.</small>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <app-feather-icons [icon]="'lock'"></app-feather-icons>
                </div>
            </div>
            <input [type]="inputType" id="pwd-input" class="form-control" placeholder="Password" formControlName="password"
                   [class.is-invalid]="f['password'].invalid && f['password'].touched">
            <div class="input-group-apend">
                <div class="input-group-text" (click)="togglePasswordVisibility()">
                    <i id="pwd-icon" class="far" [ngClass]="isShowPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                </div>
            </div>
        </div>
        <div *ngIf="f['password'].invalid && f['password'].touched" class="text-danger mt-1">
            <small *ngIf="f['password'].errors?.['required']">Password is required.</small>
            <small *ngIf="f['password'].errors?.['minlength']">Password must be at least 8 characters.</small>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-gradient btn-pill color-2 me-sm-3 me-2" [disabled]="signUpForm.invalid || isLoading">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{ isLoading ? 'Creating...' : 'Create Account' }}
        </button>
        <a [routerLink]="['/page/other-pages/log-in']" class="btn btn-dashed btn-pill color-2">Log in</a>
    </div>

    <div class="divider">
        <h6>or</h6>
    </div>
    <div>
        <h6>Sign up with</h6>
        <div class="row social-connect">
            <div class="col-6">
                <a href="https://www.facebook.com/" class="btn btn-social btn-flat facebook p-0" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                    <span>Facebook</span>
                </a>
            </div>
            <div class="col-6">
                <a href="https://twitter.com/" class="btn btn-social btn-flat twitter p-0" target="_blank">
                    <i class="fab fa-twitter"></i>
                    <span>Twitter</span>
                </a>
            </div>
            <div class="col-6">
                <a href="https://account.google.com" class="btn btn-social btn-flat google p-0" target="_blank">
                    <i class="fab fa-google"></i>
                    <span>Google</span>
                </a>
            </div>
            <div class="col-6">
                <a href="https://www.linkedin.com/" class="btn btn-social btn-flat linkedin p-0" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                    <span>Linkedin</span>
                </a>
            </div>
        </div>
    </div>
</form>
